<head>
    <script type="text/javascript" src="https://niputv-dns-1251754029.cos.ap-guangzhou.myqcloud.com/jq/2.1.4/jquery.min.js"></script>
    <title>登陆你的Niputv账户 - 喜欢那就坚持把 ╮(￣▽￣)╭ - (・ω・)ノ- ( ゜- ゜)つロ</title>
</head>
<div class="page-wp" style="overflow: initial; height: 100%;position: absolute;left: 0;right: 0;margin: auto">
    <div class="loginbox">
        <div class="login-inputnbox">
            <div class="login-inputwp" style="margin-bottom: 0px">
                <div class="login-title">登陆你的Niputv账户</div>
            </div>
            <div class="login-inputwp">
                <input type="text" class="login-input" placeholder="手机/邮箱" id="account">
            </div>
            <div class="login-inputwp">
                <input type="password" class="login-input" placeholder="密码" id="password">
            </div>
            <div class="login-inputwp">
                <input type="checkbox" style="float: left;margin: 0;margin-top: 3px;margin-right: 5px;" id="login_long"><div style="float: left;font-size: 12px;color: #fff">自动登陆</div>
                <a href="" target="_blank" style="float: right;font-size: 12px;color: #fff">忘记密码?</a>
            </div>
        </div>
        <div class="loginbutt" id="login">登录</div>
    </div>
</div>

<div class="top">
    <div class="page-wp">
    <div class="header">
        <a href="" target=""><img src="/static/img/logo.png" class="logo"></a>
        <div class="headernav">
                <a href="" target="">关于我们</a>
                <a href="" target="">用户协议</a>
                <a href="" target="">注册账户</a>
        </div>
        </div>
    </div>
    <div class="page-wp">
        <div style="float: left;font-size: 12px;color: #fff;margin-top: 10px;">喜欢那就坚持把 ╮(￣▽￣)╭ - (・ω・)ノ- ( ゜- ゜)つロ</div>
    </div>
</div>

<div class="footer">
    <div class="page-wp">
        <div style="float: left">粤ICP备18033082号-2	违法和不良信息举报电话：010-51078646</div>
        <div style="float: right">Niputv 尼噗动漫视频网 © 2014-2018</div>
    </div>
    <div class="page-wp">
        <div style="float: left">侵权或联系请@442981412@qq.com</div>
    </div>
</div>

<script type="text/javascript" src="/static/main/login.js"></script>
{% include 'tonji.html' %}