<head>
    {% include 'common/common_head.html' %}
</head>
<!--页头-->
<div class="frame-common-header frame-common-header_style box-shon">
    <div class="frame-common-header_logo_pubox frame-common-left_width">
        <img src="/static/img/frame/header-open_left_nav.png" class="frame-common-header_style left_nav_open_butt" id="frame-opne_leftnav">
        <img src="/static/img/frame/header-logo.png" class="frame-common-header_style header-logo" onclick="alert('logo')">
    </div>

    <div class="frame-common-header_search input">
        <form>
            <button type="submit" class="frame-common-header_search button">
                <img src="/static/img/frame/header-search.png">
            </button>
            <input type="search" class="frame-common-header_search input_on">
        </form>
    </div>

    <div style="float:  right;margin-top: 5px;margin-right: 25px;">{% include 'C:/Users/Administrator/Desktop/niputv-templates/common/header-usermoudle.html' %}</div>

    {% if current_user.is_authenticated %} 
    <a href="http://creation.niputv.com/upload/" target="_blank">
        <div class="frame-common-header_uploadvideo">
            <img src="/static/img/frame/header_upload_video.png" class="frame-common-header_uploadvideo_img">
        </div>
    </a>
    {% endif %}

</div>

<!--左侧导航-->
<div class="frame-common-leftnav frame-common-left_width" id="frame-left_nav">
        {% include 'common/common_nav.html' %}
</div>

<!--右边主体页面内容-->
<div class="frame-common-right_content">
    {% block content %}{% endblock %}
</div>

<script src="/static/js/frame/common_frame.js" language="JavaScript"></script>
{% include 'common/tongji.html' %}