{% if title %}
<title>{{title}} - 喜欢那就坚持把 ╮(￣▽￣)╭ - (・ω・)ノ- ( ゜- ゜)つロ</title>
{% else %}
<title>NipuTV动漫网 - 喜欢那就坚持把 ╮(￣▽￣)╭ - (・ω・)ノ- ( ゜- ゜)つロ</title>
{% endif %}
<link rel="stylesheet" type="text/css" href="/static/css/common_style.css">
<link rel="stylesheet" type="text/css" href="/static/css/interface_frame.css">
<script type="text/javascript" src="https://niputv-dns-1251754029.cos.ap-guangzhou.myqcloud.com/jq/2.1.4/jquery.min.js"></script>
<meta name="baidu_union_verify" content="79f7b836089eddc3a666c6866e07d489">