<link rel="stylesheet" type="text/css" href="/static/css/templates-style.css">
<link rel="stylesheet" type="text/css" href="/static/css/frame.css">
<meta name="baidu-site-verification" content="EhM2BlDHpl" />
<meta name="360-site-verification" content="55407a2e0945e5dfa44453ef8eb2092b" />
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4583134952137695",
    enable_page_level_ads: true
  });
</script>
{% if title %}
<title>{{title}} - 喜欢那就坚持把 ╮(￣▽￣)╭ - (・ω・)ノ- ( ゜- ゜)つロ - NipuTV动漫视频网</title>
{% else %}
<title>NipuTV动漫视频网 - 喜欢那就坚持把 ╮(￣▽￣)╭ - (・ω・)ノ- ( ゜- ゜)つロ</title>
{% endif %}
<script type="text/javascript" src="https://niputv-dns-1251754029.cos.ap-guangzhou.myqcloud.com/jq/2.1.4/jquery.min.js"></script>
<meta name="baidu_union_verify" content="79f7b836089eddc3a666c6866e07d489">
<meta name="description" content="Niputv动漫视频网，由动漫爱好者运营的视频小站，有着大量的ACG内容和最新的连载新番，以及没有弹幕的干净环境。">
<meta name="keywords" content="NipuTV动漫视频网,尼噗tv动漫视频网站,尼噗动漫,ShenVi,Niputv,MAD,AMV,Anime,动漫,音乐,游戏,二次元,Cosplay,洛天依,miku,日本动漫,燃系mad,治愈系mad,Vocaloid,日本动漫音乐">
<link rel="dns-prefetch" href="//picdns.niputv.com">
<link rel="prefetch" as="script" href="//niputv-dns-1251754029.cos.ap-guangzhou.myqcloud.com/jq/2.1.4/jquery.min.js">
<link rel="prefetch" href="/static/css/templates-style.css">
<link rel="prefetch" href="/static/css/frame.css">
<link rel="prefetch" href="//www.niputv.com/static/player/niputv-player.js">
