a{text-decoration:none;}
.a_list{color: #565656;}

/**module-applist**/
#index-top_fun-module{width: 320px;height: 520px;background-color: #fff;margin:0 auto;}
.index-top_header-fun-box:hover{background-color: #f9f9f9; box-shadow: 0 0 2px #c5c5c5;}
.index-top_header-fun-box{width: 100px;height: 100px;float: left;margin-top: 25px;margin-left: 5px;overflow: hidden;position: relative;}
.index-top_header-fun-box_img{margin: auto;width: 60px;height: 60px;margin-top: 3px;position: absolute;left: 0;right: 0;top: 7px;bottom: auto;}
.index-top_header-fun-box_txt{text-align: center;font-family: Microsoft YaHei;font-size: 13px;color: #0976f1;position: absolute;left: 0;right: 0;bottom: 7px;top: auto;margin: auto;font-weight: initial;}

/**module-top-user-mod**/
#module-top-user-mod{max-width: 500px;height: 60px;float: right;display: flex;}

/**picture-search-api**/
#picture-search_web-href{float: left;color: black;font-family: Microsoft YaHei;font-size: 14px;line-height: 60px;}
#picture-search_web-href:hover{color: #0090ff;}

/**function-ico**/
#index-top_fun-ico{width: 23px;height: 22px;margin-top: 17px;float: left;margin-left: 25px;cursor:pointer;}
#index-top_fun-ico:hover{}

/**login-ico**/
#index-top_login-ui{width: 78px;height: 32px;float: left;margin-left: 25px;border-radius: 5px;background-color: #ff0079; margin-top: 13.5px;cursor:pointer;}
#index-top_login-ui:hover{background-color: #043cf3;}
#index-top_login-ico{margin-top: 5px;margin-left: 5px;float: left;}
#index-top-sing_in-txt{float: left;margin-left: 5px;margin-top: 5px;color: #fff;font-weight: lighter; font-size: 14px;font-family: Microsoft YaHei;margin-top: 6px;}

/**user-information-ico**/
#index-top-information_fun{margin-top: 19px;margin-left: 25px;cursor:pointer;margin-right: 15px;}

/**header-img**/
#index-top-user_head{margin-left: 25px;}
#index-top_head-ui{width: 42px;height: 42px;border-radius: 26px;margin-top: 9px;overflow: hidden;background-position: center;cursor:pointer;}

/**loging-user**/
#index-top_user-div{z-index: 99999;width: 480px;position: absolute;margin-top: 80px;right: 15px;left: auto;z-index: 900;box-shadow: #bdbdbd 0 0px 7px;display: none;background-color: #fff;}
#index-top_user-div-info-head{height: 180px;width: 180px;overflow: hidden;float: left;}
#index-top_user-div-info-ur-io{float: left;height: 100%;margin-left: 15px;line-height: 21px;}
#index-top_user-div-info-ur-io-ne{float: left;font-size: 24px;color: #0072ff;font-family: Microsoft YaHei;margin-top: 25px;width: 100%;}
#index-top_user-div-info-ur-io-el{color: #a4a4a4;font-size: 12px;float: left;width: 100%;font-family: Microsoft YaHei;}

.index-top_user-div-info-ur-io-bt{float: left;height: 30px;width: 90px;margin-top: 8px;background-color: #008aff;border-radius: 2.5px;line-height: 30px;text-align: center;font-size: 14px;color: #fff;margin-right: 10px;}

#index-top_user-div-info-ur-io-bt-lo-out:hover{background-color: #f4f4f4;}
#index-top_user-div-info-ur-io-bt-lo-out{float: left;margin-top: 43px;font-size: 14px;float: left;font-family: Microsoft YaHei;color: #454545;line-height: 18.5px;padding-top: 3px;padding-bottom: 3px;padding-right: 5px;padding-left: 5px;border-radius: 3px;margin-left: -3px;}

/**loging-information**/
#index-top_information-div{z-index: 9999999999999;height: auto;width: 415px;background-color: #fff;position: fixed;right: 65px;top: 70px;box-shadow: #cccccc 0 4px 8px;display: none;}
#index-top_information-div_infowin{height: 450px;width: 415px;background-color: #f4f4f4}

/**function**/
#index-top_fun-div{z-index: 99999;width: 320px;height: auto;padding-bottom: 15px;position: absolute;background-color: #fff;right: 25px;margin-top: 60px;box-shadow: #cccccc 0 4px 8px;display: none;padding-left: 5px;padding-right: 5px;}
.index-top_header-fun-box:hover{background-color: #f9f9f9; box-shadow: 0 0 2px #c5c5c5;}
.index-top_header-fun-box{width: 100px;height: 100px;float: left;margin-top: 25px;margin-left: 5px;overflow: hidden;position: relative;}
.index-top_header-fun-box_img{margin: auto;width: 60%;height: 60%;margin-top: 3px;position: absolute;left: 0;right: 0;top: 0;bottom: 0;}
.index-top_header-fun-box_txt{text-align: center;font-family: Microsoft YaHei;font-size: 13px;color: #0976f1;position: absolute;left: 0;right: 0;bottom: 7px;top: auto;margin: auto;}

/**css3-amin**/
.hvr-grow { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform;}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active { -webkit-transform: scale(1.1); transform: scale(1.1);}